* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* navigation css -------------------------------------------------------------------------->*/
.navbar {
    position: relative;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 15px 15px;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    border-bottom: 1px solid #ddd;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo i {
    font-size: 26px;
    margin-top: 4px;
    margin-right: 8px;
    color: #cda274;
}

.nav-logo h1 {
    font-size: 23px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
}

.fa-bars {
    font-size: 28px;
    margin-top: 4px;
    color: gray;
}

a {
    text-decoration: none;
}

.nav-btn,
ul {
    display: none;
}



.nav-list {

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 45vh;
    padding-top: 4%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.9s ease-in-out, opacity 1s ease-in-out;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#menu-toggle {
    display: none;
}


.menu-icon {
    font-size: 26px;
    cursor: pointer;
    z-index: 1002;
}

.menu-icon .open-icon,
.menu-icon .close-icon {
    display: none;
}


#menu-toggle:not(:checked)+.menu-icon .open-icon {
    display: inline;
}

#menu-toggle:checked+.menu-icon .close-icon {
    display: inline;
}

#menu-toggle:checked~.nav-list {

    max-height: 500px;
    opacity: 1;
    pointer-events: auto;

}


.nav-list li {
    margin: 12px 0;
}

.nav-list li a {
    text-decoration: none;
    font-size: 17px;
    color: black;
    transition: color 0.3s;
    font-family: "Playfair Display", serif;
}

.nav-list li a:hover {
    color: #dba871;
}

.btn2 {
    padding: 5px 10px 8px;
    background-color: #cda274;
    border: none;
    font-size: 14px;
    border-radius: 6px;
    margin: 10px 30px;
}



.batton-1 a,
.btn2 a {
    font-size: 14px;
    color: white;
}


@media(min-width:768px) {

    .nav {
        padding: 25px 6%;
    }

    .nav-list {
        height: 40vh;
    }

    .menu-icon {
        font-size: 40px;
    }

    .nav-logo i,
    .fa-bars {
        font-size: 40px;
        margin-right: 10px;
    }

    .nav-logo h1 {
        font-size: 40px;
    }

    li {
        margin: 0 0 0 12px;
        font-size: 20px;
    }

    .nav-list li a {
        color: black;
        font-family: "Playfair Display", serif;
        font-weight: 500;
        font-size: 23px;
    }

.batton-1 a,
.btn2 a {
    font-size: 20px;
    color: white;
}

}


@media (min-width:1024px) {

    .nav {
        padding: 10px 4%;
    }

    .nav-list {
        padding-top: 0px;
        box-shadow: none;
    }

    .nav-btn {
        display: block;
    }

    .nav-logo i {
        font-size: 26px;
    }

    .nav-logo h1 {
        font-size: 26px;
    }

    .nav-list li a {
        font-size: 18px;
    }

    #navlist {
        display: flex;
        gap: 5%;
        width: 60%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        opacity: 1;
        max-height: none;
        pointer-events: auto;
        position: static;
        height: auto;
    }

    .btn2 {
        display: none;
    }

    .icon {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .batton-1 a {
        color: white;
    }

    .nav-btn button {
        padding: 5px 10px 8px;
        font-size: 14px;
        border: none;
        background-color: rgb(229, 200, 146);
        color: white;
        border-radius: 4px;
        margin-left: 20px;
    }

    button:hover {
        background-color: rgb(175, 141, 79);
    }

    .batton-1 a,
    .btn2 a {
    font-size: 14px;
    color: white;
}
}


@media (min-width:1280px) {

    #navlist {
        gap: 4%;
    }

    .nav {
        padding: 16px 4%;
    }

    .icon {
        display: block;
    }

    .nav-logo h1 {
        font-size: 28px;
    }

    .nav-btn {
        display: flex;
        align-items: center;
    }

    .nav-list li a {
        font-size: 20px;
        color: black;
    }

    li {
        font-size: 19px;
    }

    .nav-btn i {
        font-size: 20px;
        margin: 0 12px;
    }

    .nav-btn button {
        margin: 0 0 0 20px;
    }


}




/* main-section, hero section CSS --------------------------------------------------------->*/

main {
    height: 80vh;
    margin-top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("./images/bed-3.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 25px;
    color: white;
    margin-bottom: 20px;
   
}

.main-content {
    margin-bottom: 25%;
}

main h1 {
    font-size: 30px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    margin: 10px 0px;
}

p {
    font-size: 18px;
    margin: 20px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    padding: 10px 20px 14px;
    margin: 5px 0px;
    border: none;
    border-radius: 4px;
    background-color: #292f36;
    color: white;
    font-size: 18px;

}

.btn a {
    text-decoration: none;
    font-family: "Playfair Display", serif;
    color: white;
}

.main-content .btn:hover {
    background-color: rgb(239, 236, 236);
}

.btn a:hover {
    color: #292f36;
}


.fa-arrow-right {
    margin-left: 4px;
    font-size: 18px;
    color: #cda274;
}



@media (min-width:768px) {
    main {
        height: 70vh;
        align-items: center;
    }

    .main-content {
        width: 90%;
        margin-bottom: 0px;
        margin-top: 20%;
    }

    main h1 {
        font-size: 50px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .main-content p {
        font-size: 30px;
        line-height: 40px;
        margin: 20px 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .btn {
        font-size: 26px;
        padding: 20px 30px 24px;
        margin: 30px 0px;
    }

    .fa-arrow-right {

        font-size: 25px;
    }

    .btn a {
        font-size: 32px;
    }
}



@media (min-width:1024px) {
    main {
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("./images/bed-9.jpg");
        background-size: cover;
    }

    .main-content {
        width: 80%;
        margin-top: 10%;
        margin-left: 40px;
        text-align: center;
    }

    main h1 {
        font-size: 55px;
        line-height: 75px;
    }

    .main-content p {
        font-size: 22px;
        margin: 20px 0px;
        line-height: 35px;
        width: 85%;
    }

    .btn {
        font-size: 20px;
        padding: 15px 20px 17px;
        margin: 20px 0px;
    }

    .btn a {
        font-size: 24px;
    }
}



@media (min-width:1280px) {
    main {
        justify-content: center;
    }

    .main-content {
        width: 70%;
        margin-top: 5%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-content h1 {
        font-size: 70px;
        line-height: 80px;
    }

    .main-content p {
        width: 80%;
        font-size: 26px;
        margin: 10px 0px;
    }

    .btn {
        font-size: 22px;
        padding: 15px 40px 17px;
        margin: 30px 0px;
    }
}



/* what people think Css---------------------------------------------------------------------------> */


.people-thiks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% 0px;
    padding-left: 15px;
}

.people-info h1 {
    text-align: center;
    margin: 10px 0px;
    font-size: 26px;
    font-family: "Playfair Display", serif;
}

.people-info p {
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 15px;
}

.people-info {
    width: 95%;
    margin: 20px 0px;
    padding: 20px 13px 30px;

}

.people-img {
    width: 100%;
    overflow: auto;
}

.people-img img {
    width: 300px;
    height: 290px;
    margin: 10px 5px;
    border-radius: 14px;
}


@media(min-width:768px) {

    .people-thiks {
        height: 60vh;
        margin: 7% 0 10%;
    }

    .people-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
    }

    .people-info h1 {
        font-size: 32px;
        margin: 20px 0px 10px;
        width: 60%;
    }

    .people-info p {
        font-size: 24px;
    }

    .people-img img {
        width: 350px;
        height: 350px;
    }
}


@media (min-width:1024px) {

    .people-thiks {
        height: 90vh;
        margin: 5% 0px 7%;
    }

    .people-info h1 {
        font-size: 32px;
        margin: 10px 0px;
        width: 40%;
    }

    .people-info p {
        font-size: 16px;
        width: 80%;
    }

    .people-info {
        width: 90%;
        margin-left: 40px;
    }

    .people-img img {
        width: 230px;
        height: 300px;
    }

    .people-img {

        display: flex;
    
    }
}


@media (min-width:1280px) {

    .people-thiks {
        height: 80vh;

    }

    .people-img img {
        width: 300px;
        height: 350px;
    }

    .people-info h1 {
        font-size: 36px;
        margin: 20px 0px 5px;
        width: 30%;
    }

    .people-info p {
        font-size: 18px;
        margin-bottom: 20px;
        width: 50%;
    }
}


/* images-box ------------------------------------------------->-------------------------------->*/


.images-box {
    margin: 5% 10px 15%;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-box h1 {
    text-align: center;
    margin: 5px 0px;
    font-size: 26px;
    font-family: "Playfair Display", serif;
    width: 85%;
}

.images-box p {
    margin: 5px 0px 25px;
    font-size: 15px;
}



.one {
    background-image: url("./images/new-1-1.jpg");
    background-size: cover;


}

.two {
   
    background-image: url("./images/new-1-9.jpg");
    background-size: cover;
}

.three {
    background-image: url("./images/new1--9\ -\ Copy.jpg");
    background-size: cover;
    width: 99%;
    height: 29.5vh;
    margin-top: 3px;

    border-radius: 6px;
    display: flex;
    align-items: flex-end;
    gap: 4px;
}

.ten {

    background-image: url("./images/new-2\ -\ Copy.jpg");

    background-size: cover;

}

.four {

    background-image: url("./images/new-1-2.jpg");
    background-size: cover;

}

.five {
    background-image: url("./images/new-1-4.jpg");
    background-size: cover;

}

.one,
.two,
.four,
.five {
    width: 50%;
    margin: 3px;
    border-radius: 6px;
    display: flex;
    align-items: flex-end;
}

.one,
.two,
.four,
.five h6 {
    font-size: 24px;
    border: 1px solid white;
    background-color: #292f36bd;
    padding: 10px 15px;

}

.top,
.midal,
.botam {
    height: 30vh;
}

.top,
.botam {
    display: flex;
    grid-area: 4%;
}

.midal {
    height: 30vh;
}

.imge-box {
    width: 100%;
}

.lower {
    display: none;
}



@media (min-width:768px) {

    .images-box {
        margin: 5% 10px 10%;
        ;
    }

    .top .botam {
        height: 60vh;
    }

    .midal {
        height: 40vh;
    }

    .midal .three {
        height: 39.5vh;
        margin: 6px 0px;
        width: 100%;
    }

    .images-box h1 {
        font-size: 32px;
    }

    .imge-box {
        width: 95%;
    }

    .images-box p {
        font-size: 20px;
        width: 70%;
        margin-bottom: 4%;
    }

    .one,
    .two,
    .four,
    .five {
        width: 50%;
        margin: 4px;
        border-radius: 8px;
        display: flex;
        align-items: flex-end;
    }

    .top,
    .midal,
    .botam {
        height: 40vh;
    }
}

@media (min-width:1024px) {

    .upper {
        display: none;
    }

    .lower {
        display: block;
    }

    .images-box {
        margin: 6% 0px;
    }

    .three {
        height: 50vh;
        margin: 5px;
        height: 58vh;
    }

    .ten {
        background-size: cover;
        width: 100%;
        height: 58vh;
        margin: 5px;
        border-radius: 6px;
        display: flex;
        align-items: flex-end;
    }


    .images-box p {
        width: 50%;
        font-size: 18px;
    }


    .one,
    .two,
    .three,
    .four,
    .five {
        margin: 5px;
    }


    .top,
    .botam {
        width: 100%;
        height: 59vh;
    }

    .top,
    .midal,
    .botam {
        height: 60vh;
    }
}


@media (min-width:1280px) {

    .top,
    .botam {

        width: 100%;
        height: 70vh;

    }

    .three,
    .ten {
        height: 68.5vh;
    }

}






/* Experiance of nuber ---------------------------------------------------------------------->*/

.Experiance {
    background-color: #fff1ec;
    /* color: white; */
    margin: 15% 0px 20%;
}

.nubers {
    padding: 30px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}

.nubers-info {
    width: 100%;
    height: 13vh;
    text-align: center;
}

.nubers-info h1 {
    color: #e6b988;
    /* color: white; */
    font-size: 28px;
    font-family: " serif";
    font-weight: 700;
}

.nubers .v-line {
    display: none;
}

.nubers-info p {
    font-family: "Playfair Display", serif;
}



@media (min-width:768px) {
    .Experiance {
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10% 0px;
        margin: 13% 0px 15%;

    }

    .nubers {
        width: 90%;
        display: flex;
    }

    .nubers .v-line {
        display: block;
        width: 1px;
        height: 80px;
        background-color: #cda274;
        margin-top: 10px;
    }

    .nubers-info h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }
}

@media(min-width:1024px) {
    .Experiance {

        height: 50vh;
        margin: 12% 0px 13%;
    }
}

@media (min-width:1280px) {

    .Experiance {

        height: 45vh;
        margin: 10% 0px 11%;

    }

    .nubers {
        width: 60%;
    }

    .nubers-info h1 {
        font-size: 45px;
        margin-bottom: 20px;
    }


    .nubers-info p {
        font-family: "Playfair Display", serif;
        font-size: 18px;
    }

}


/* Footer - CSS ------------------------------------------------------------------------------>*/

footer {
    background-color: #292f36;
    color: white;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.foter-logo i {
    font-size: 20px;
    margin: 5px 5px 10px;
}


.footer-services,
.footer-contact {
    margin: 15px 0px;
}

.footer-services h4,
.footer-contact h4 {

    padding-bottom: 5px;
    font-size: 16px;
}

.footer-services li,
.footer-contact li {

    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


@media (min-width:768px) {

    footer {
        height: 50vh;
        padding: 10px;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        width: 90%;
        gap: 3%;
    }


    .foter-logo i {
        font-size: 20px;
        margin: 10px 5px 10px;
    }

    .footer-left {
        width: 35%;
        margin-top: 0px;
        margin-right: 20px;
    }

    .footer-left p {
        font-size: 20px;

    }

    .footer-services h4,
    .footer-contact h4 {

        font-size: 26px;
    }

    .footer-services li,
    .footer-contact li {
        margin: 10px 0px;
        font-size: 20px;
        font-weight: 500;
    }

}



@media (min-width:1024px) {

    footer {
        height: 70vh;
        padding: 10px 30px;
    }

    .footer-left {
        width: 40%;
        margin-top: 3%;
    }

    .footer-left p {
        margin: 10px 0px;
    }

    .footer-services h4,
    .footer-contact h4 {

        font-size: 22px;
    }

    .footer-services li,
    .footer-contact li {
        font-size: 18px;

    }
}


@media (min-width:1280px) {

    footer {
        height: 60vh;
    }

    .footer-info {
        width: 75%;
    }

    .footer-left {
        width: 35%;
    }

}




