* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenar {
    padding: 0px 5%;

}

/* navigation css */

.navbar {
    position: relative;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 15px 15px;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    /* border-bottom: 1px solid #ddd; */
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo i {
    font-size: 26px;
    margin-top: 4px;
    margin-right: 8px;
    color: #cda274;
}

.nav-logo h1 {
    font-size: 23px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    margin: 0px;
}

.fa-bars {
    font-size: 28px;
    margin-top: 4px;
    color: gray;
}

a {
    text-decoration: none;
}

.nav-btn,
ul {
    display: none;
}


/* FULLSCREEN NAV LIST */
.nav-list {

    position: absolute;
    top: 99%;
    left: 0;
    width: 100%;
    height: 48vh;
    padding-top: 5%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.9s ease-in-out, opacity 1s ease-in-out;
    z-index: 1000;
}


#menu-toggle {
    display: none;
}


.menu-icon {
    font-size: 26px;
    cursor: pointer;
    z-index: 1002;
}

.menu-icon .open-icon,
.menu-icon .close-icon {
    display: none;
}


#menu-toggle:not(:checked)+.menu-icon .open-icon {
    display: inline;
}

#menu-toggle:checked+.menu-icon .close-icon {
    display: inline;
}

#menu-toggle:checked~.nav-list {

    max-height: 500px;
    opacity: 1;
    pointer-events: auto;

}

/* Nav links */

li{
    margin: 12px 0px;
}

.nav-list li a {
    text-decoration: none;
    font-size: 17px;
    color: black;

    transition: color 0.3s;
    font-family: "Playfair Display", serif;
}

.nav-list li a:hover {
    color: #dba871;
}

.btn2 {
   padding: 5px 10px 8px;
    background-color: #cda274;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 4px;
    margin: 10px 30px;
}


.batton-1 a,
.btn2 a {
    font-size: 16px;
    color: white;
}



@media(min-width:768px) {

    .nav {
        padding: 25px 6%;
    }

    .nav-list {
        height: 42vh;
        padding-top: 3%;
    }

    .menu-icon {
        font-size: 40px;
    }

    .nav-logo i,
    .fa-bars {
        font-size: 40px;
        margin-right: 10px;
    }

    .nav-logo h1 {
        font-size: 40px;
    }

    li {
       margin: 15px 0px;
        font-size: 20px;
    }

    .nav-list li a {
        color: black;
        font-family: "Playfair Display", serif;
        font-weight: 500;
       font-size: 23px;
    }

    .btn2 {
      font-size: 20px;
      align-self: center;
    }
}


@media (min-width:1024px) {

    .nav-list{
        padding-top: 0px;
        box-shadow: none;
    }

    .nav {
        padding: 18px 4%;
    }

    .nav-btn {
        display: block;
    }

    .nav-logo i {
        font-size: 26px;
    }

    .nav-logo h1 {
        font-size: 26px;
    }

    .nav-list li a {
        font-size: 18px;
    }

    #navlist {
        display: flex;
        gap: 5%;
        width: 60%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        opacity: 1;
        max-height: none;
        pointer-events: auto;
        position: static;
        /* So it doesn’t cover full screen */
        height: auto;
        /* Reset height */
    }

    .btn2 {
        display: none;
    }

    .icon {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .nav-btn button {
        padding: 5px 10px 8px;
        font-size: 14px;
        border: none;
        background-color: rgb(229, 200, 146);
        color: white;
        border-radius: 4px;
        margin-left: 20px;
    }

    button:hover {
        background-color: rgb(175, 141, 79);
    }
}


@media (min-width:1280px) {

    #navlist {
        gap: 4%;
    }

    .nav {
        padding: 20px 4%;
    }

    .nav-logo h1{
        font-size: 28px;
    }

    .icon {
        display: block;
    }

    .nav-btn {
        display: flex;
        align-items: center;
    }

    .nav-list li a {
        font-size: 20px;
        color: black;
    }

    li {
        font-size: 19px;
    }

    .nav-btn i {
        font-size: 20px;
        margin: 0 12px;
    }

    .nav-btn button {
        margin: 0 0 0 20px;
    }


}



.main {
    height: 65vh;
    /* margin-top: 6%; */
    background-image: url("../Living-room/new-2\ -\ Copy.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div {
    /* border: 2px solid black; */
    height: 30vh;
    width: 80%;
    padding-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .project {
    background-color: rgba(0, 0, 0, 0.538);
    color: white;
    width: 80%;
    height: 18vh;
    border-radius: 15px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .project h1 {
    font-family: "Playfair Display", serif;
    font-size: 28px;

}

.project p {
    font-size: 18px;
}

@media (min-width:768px) {

    .main {
        height: 70vh;
    }

    .main-div {
        padding-top: 9%;
    }

    .main .project {
        width: 70%;
        height: 22vh;

    }

    .main .project h1 {
        font-size: 45px;
        margin-bottom: 5px;
    }

    .main p {
        font-size: 33px;
    }
}

@media (min-width:1024px) {

    .main-div {
        padding-top: 7%;
    }

    .main .project h1 {
        font-size: 36px;

    }

    .main p {
        font-size: 22px;
        margin: 5px 0px;
    }

    .main .project {
        width: 45%;
        height: 25vh;
    }
}

@media (min-width:1280px) {

    .main-div {
        padding-top: 4%;
    }

    .main .project {
        width: 35%;
        height: 22vh;
    }

    .main .project h1 {
        font-size: 50px;

    }

    .main p {
        font-size: 23px;
    }

}




.social {
    margin: 5% 0px;
}

.social-area {

    padding: 10px 5px 30px;
}

h1 {

    font-family: "Playfair Display", serif;
    text-align: center;
    margin: 10px 0px;
}


form {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    width: 100%;
    margin: 10px 0px;
    padding: 5px 0px;
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
    font-size: 16px;
    color: black;
}

textarea {
    height: 15vh;
    margin: 10px 0px 30px;

}

button {
    align-self: center;
    padding: 10px 15px 13px;
    border-radius: 15px;
    background-color: black;
    font-size: 16px;
    color: white;

}

button i {
    color: #cda274;
    font-size: 18px;
    margin-left: 5px;
}


.social-box {


    background-color: #f4f0ec;
    border-radius: 8px;
    padding: 5%;
    padding-left: 35px;
    margin-top: 8%;
    /* width: 85%; */
}

.social-media {
    display: flex;
    align-items: center;

    margin: 20px 0px;
}

.social-media i {
    background-color: white;
    color: #cda274;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.social-media p {
    font-size: 17px;
}

.social-icon {
    margin: 15px 0px;
    padding-left: 30px;
}

.social-icon i {
    margin: 10px;
    font-size: 22px;
}


@media (min-width:768px) {

    .social {
        margin: 4% 0px;
    }

    .social-media-services {
        margin-top: 3%;
        display: flex;
        gap: 6%;
    }

    form {
        order: 1;
        width: 100%;
        padding: 0px;
        margin-top: 2%;
    }

    input,
    textarea {
        font-size: 20px;
    }

    .social-box {
        border-radius: 0px;
        order: 0;
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    .social-area h1 {
        width: 60%;
        align-self: center;
    }

    .social-media p {
        font-size: 20px;
    }

    .social-box {
        height: 32vh;
        padding: 40px 30px;
    }

    .social-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    textarea {
        height: 10vh;
    }

    button {
        align-self: flex-end;
    }

}




@media (min-width:1024px) {

    .social {
        display: flex;
        justify-content: center;
    }

    .social-media-services {
        margin-top: 1%;
    }

    .social-box {
        height: 55vh;
        padding: 40px 30px;
        margin-top: 35px;
        border-radius: 4px;
    }

    .social-area {
        width: 85%;
    }

    .social-area h1 {
        font-size: 32px;
    }

    .social-media p {
        font-size: 16px;
    }

    textarea {
        height: 20vh;
    }

    button {
        font-size: 18px;
    }

    input,
    textarea {
        font-size: 14px;
    }

    button i {
        font-size: 22px;
    }

}


@media (min-width:1280px) {
    .social-area {
        width: 70%;
    }

    .for-input {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5%;
    }

     input,
    textarea {
        font-size: 18px;
    }

    textarea {
        height: 20vh;
        margin: 30px 0px;

    }

    input {
        padding-bottom: 20px;

    }

    button {
        align-self: flex-end;
        font-size: 16px;
    }

    .social-box {
        height: 80%;
        width: 50%;
        padding: 20px;
        margin-top: 20px;
        padding-left: 30px;
    }

    .social-area h1 {
        width: 50%;
        align-self: center;
        margin: 20px 0px 50px;
    }
}


/* Join with us ----------------------------------------------------> */

.join-us {
    margin: 10% 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292f36;
    height: 50vh;
}


.black-box {
    /* background-color: #292f36; */
    padding: 10% 30px;
    margin: 5% 0px;
    text-align: center;
    color: white;
}

.black-box p {

    margin: 15px 0px;
    color: rgb(226, 226, 226);
}

.black-box h1 {
    font-family: 'Times New Roman', Times, serif;
}

.black-box button {
    margin: 20px 0px;
    padding-bottom: 15px;
    background-color: #cda274;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.black-box .fa-arrow-right {
    color: rgb(54, 54, 54);
}


@media(min-width:768px) {

    .join-us {
        height: 30vh;
        margin: 5% 0px;
        border-radius: 15px;
        background-color: white;
    }

    .black-box {
        background-color: #292f36;
        width: 100%;
        border-radius: 30px;
        padding: 6% 0px;
        margin: 2% 0px;
    }

    .black-box h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 36px;
    }

    .black-box p {
        font-size: 22px;
    }

    .black-box button,
    .fa-arrow-right {
        font-size: 22px;
    }
}


@media (min-width:1024px) {

    .join-us {
        height: 60vh;
        border-radius: 15px;
    }

    .black-box {
        width: 80%;
    }

    .black-box button {
        font-size: 20px;
        padding: 15px 20px 20px;
    }

    .black-box p {
        font-size: 18px;
    }
}


@media (min-width:1280px) {
    .join-us {
        margin: 20px 0px;
        height: 55vh;
        border-radius: 15px;
        background-color: white;
    }

    .black-box {
        background-color: #292f36;
        width: 70%;
        padding: 5% 0px;
        border-radius: 40px;
    }

    .black-box h1 {

        font-size: 46px;
    }

    .black-box button {
        font-size: 20px;
        margin-top: 3%;

    }
}


/* About-us------------------------------------------------------------------> */


.about-us-inner {

    border-radius: 18px;
    background-color: #f4f0ec;
    padding: 2% 10px;
    margin: 20% 0px 20%;

}


.about-us-inner h1 {
    margin: 30px 0px;
}

.card {
    /* border: 2px solid black; */
    border-radius: 18px;
    background-color: white;
    padding: 15% 25px;
    padding-right: 8px;
    margin: 30px 0px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}

.top {
    display: flex;
    align-items: center;
    gap: 7%;
    margin: 0px 0px 20px;
}

.top img {
    width: 60px;
    height: 60px;
}


@media (min-width:768px) {

    .card-box,
    .about-us-inner,
    .About-us-outer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        /* border: 2px solid black; */
        padding: 10% 35px;
        margin: 20px 10px;
        width: 70%;
    }

    .about-us-inner {
        padding: 5% 10px 7%;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .about-us-inner h1 {
        margin: 30px 0px;
        font-size: 30px;
        width: 50%;
    }

    .top img {
        width: 80px;
        height: 80px;
    }

    .img-info h3 {
        font-size: 22px;
    }

    .img-info p {
        font-size: 21px;
    }

    .bottam p {
        font-size: 20px;
    }
}


@media (min-width:1024px) {
    .about-us-inner {
        margin-top: 1%;
        margin-bottom: 10%;
    }

    .about-us-inner h1 {
        width: 40%;
    }

    .card-box {
        flex-direction: row;
    }

    .card {
        padding: 6% 20px 8%;
    }

    .top img {
        width: 50px;
        height: 50px;
    }

    .img-info h3 {
        font-size: 20px;
    }

    .img-info p {
        font-size: 18px;
    }

    .bottam p {
        font-size: 16px;
    }
}

@media (min-width:1280px) {

    .about-us-inner {
        margin-top: 7%;
        width: 80%;
        padding: 3% 3% 5%;
    }

    .about-us-inner h1 {

        width: 35%;
    }

    .img-info p {
        font-size: 16px;

    }

    .card {
        padding: 6% 4%;
    }
}



footer {
    background-color: #292f36;
    color: white;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.foter-logo i {
    font-size: 20px;
    margin: 20px 5px 10px;
}


.footer-services,
.footer-contact {
    margin: 15px 0px;
}

.footer-services h4,
.footer-contact h4 {

    padding-bottom: 5px;
    font-size: 16px;
}

.footer-services li,
.footer-contact li {

    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


@media (min-width:768px) {

    footer {
        height: 50vh;
        padding: 10px;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        width: 90%;
        gap: 3%;
    }

    .footer-left {
        width: 35%;
        margin-top: 0px;
        margin-right: 20px;
    }

    .footer-left p {
        font-size: 20px;

    }

    .footer-services h4,
    .footer-contact h4 {

        font-size: 26px;
    }

    .footer-services li,
    .footer-contact li {
        margin: 10px 0px;
        font-size: 20px;
        font-weight: 500;
    }

}



@media (min-width:1024px) {

    footer {
        height: 70vh;
        padding: 10px 30px;
    }

    .footer-left {
        width: 40%;
        margin-top: 3%;
    }

    .footer-left p {
        margin: 10px 0px;
    }

     .footer-services h4,
    .footer-contact h4 {

        font-size: 22px;
    }

    .footer-services li,
    .footer-contact li {
        
        font-size: 18px;
    }
}


@media (min-width:1280px) {

    footer {
        height: 60vh;
    }

    .footer-info {
        width: 75%;
    }

    .footer-left {
        width: 35%;
    }

}