* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenar {
    padding: 0px 5%;

}

/* navigation css --------------------------------------------------------------------------> */
.navbar {
    position: relative;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 15px 15px;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.nav-logo {
    display: flex;
    align-items: center;

}

.nav-logo i {
    font-size: 26px;
    margin-top: 4px;
    margin-right: 8px;
    color: #cda274;
}

.nav-logo h1 {
    font-size: 23px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
}

.fa-bars {
    font-size: 28px;
    margin-top: 4px;
    color: gray;
}

a {
    text-decoration: none;
}

.nav-btn,
ul {
    display: none;
}


.nav-list {

    position: absolute;
    top: 99%;
    left: 0;
    width: 100%;
    height: 48vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.9s ease-in-out, opacity 1s ease-in-out;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#menu-toggle {
    display: none;
}


.menu-icon {
    font-size: 26px;
    cursor: pointer;
    z-index: 1002;
}

.menu-icon .open-icon,
.menu-icon .close-icon {
    display: none;
}


#menu-toggle:not(:checked)+.menu-icon .open-icon {
    display: inline;
}

#menu-toggle:checked+.menu-icon .close-icon {
    display: inline;
}

#menu-toggle:checked~.nav-list {

    max-height: 500px;
    opacity: 1;
    pointer-events: auto;

}


.nav-list li {
    margin: 12px 0;
}

.nav-list li a {
    text-decoration: none;
    font-size: 17px;
    color: black;

    transition: color 0.3s;
    font-family: "Playfair Display", serif;
}

.nav-list li a:hover {
    color: #dba871;
}

.btn2 {
    padding: 5px 10px 8px;
    background-color: #cda274;
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    margin: 10px 30px;
}

.batton-1 a,
.btn2 a {
    font-size: 14px;

}



@media(min-width:768px) {

    .nav {
        padding: 25px 6%;
    }

    .nav-list {
        height: 40vh;
        padding-top: 3%;

    }

    .menu-icon {
        font-size: 40px;
    }

    .nav-logo i,
    .fa-bars {
        font-size: 40px;
        margin-right: 10px;
    }

    .nav-logo h1 {
        font-size: 40px;
    }

    .nav-list li a {

        font-size: 23px;
        margin: 14px 0px;
    }

    a {
        color: black;
        font-family: "Playfair Display", serif;
        font-weight: 500;

    }

    .btn2 {
        padding: 5px 10px 12px;
        background-color: #cda274;
        font-size: 20px;
        margin: 10px 30px;
    }

    .batton-1 a,
    .btn2 a {
        font-size: 20px;

    }
}


@media (min-width:1024px) {

    .nav {
        padding: 18px 4%;
    }

    .nav-list {
        box-shadow: none;
        padding-top: 0px;
    }

    .nav-btn {
        display: block;
    }

    .nav-logo i {
        font-size: 26px;
    }

    .nav-logo h1 {
        font-size: 26px;
    }

    .nav-list li a {
        font-size: 18px;
    }

    #navlist {
        display: flex;
        gap: 5%;
        width: 60%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        opacity: 1;
        max-height: none;
        pointer-events: auto;
        position: static;
        height: auto;
     
    }

    .btn2 {
        display: none;
    }

    .icon {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .nav-btn button {
        padding: 5px 10px 8px;
        font-size: 14px;
        border: none;
        background-color: rgb(229, 200, 146);
        color: white;
        border-radius: 4px;
        margin-left: 20px;
    }

    button:hover {
        background-color: rgb(175, 141, 79);
    }

    .batton-1 a,
    .btn2 a {
        font-size: 14px;

    }
}


@media (min-width:1280px) {

    #navlist {
        gap: 4%;
    }

    .nav {
        padding: 20px 4%;
    }

    .nav-logo h1 {
        font-size: 28px;
    }

    .icon {
        display: block;
    }

    .nav-btn {
        display: flex;
        align-items: center;
    }

    .nav-list li a {
        font-size: 20px;
        color: black;
    }

    li {
        font-size: 19px;
    }

    .nav-btn i {
        font-size: 20px;
        margin: 0 12px;
    }

    .nav-btn button {
        margin: 0 0 0 20px;
    }


}



/* main section -----------------------------------------------------------------------------------> */

.main {
    height: 65vh;
    background-image: url("../images/new-3\ -\ Copy.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div {
    height: 30vh;
    width: 80%;
    padding-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .project {
    background-color: rgba(0, 0, 0, 0.538);
    color: white;
    width: 80%;
    height: 18vh;
    border-radius: 15px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .project h1 {
    font-family: "Playfair Display", serif;
    font-size: 28px;
}

.project p {
    font-size: 18px;
}

@media (min-width:768px) {

    .main {
        height: 70vh;
    }

    .main-div {
        padding-top: 9%;
    }

    .main .project {
        width: 70%;
        height: 22vh;

    }

    .main .project h1 {
        font-size: 45px;
        margin-bottom: 5px;
    }

    .main p {
        font-size: 33px;
    }
}

@media (min-width:1024px) {

    .main-div {
        padding-top: 7%;
    }

    .main .project h1 {
        font-size: 36px;

    }

    .main p {
        font-size: 22px;
        margin: 5px 0px;
    }

    .main .project {
        width: 45%;
        height: 25vh;
    }
}

@media (min-width:1280px) {

    .main-div {
        padding-top: 4%;
    }

    .main .project {
        width: 35%;
        height: 22vh;
    }

    .main .project h1 {
        font-size: 50px;

    }

    .main p {
        font-size: 23px;
    }

}





/* quote thouth ------------------------------------------------------------------------------------> */

.about-first {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.bout-outer-box {
    border: 10px solid #f4f0ec;
    border-radius: 25px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quot-box {
    height: 36vh;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.quot-box i {
    font-size: 24px;
    margin: 5px 0px 10px;
}

.quot-box h3 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    margin: 10px 0px 15px;
}


.batton-1 a,
.btn2 a {
    font-size: 16px;
    color: white;
}

@media (min-width:768px) {


    .about-first {
        margin: 40px 0px;
    }

    .bout-outer-box,
    .quot-box {
        width: 80%;
        height: 32vh;
    }

    .quot-box h3 {
        font-size: 30px;
    }

    .quot-box p {
        font-size: 22px;
    }

}


@media (min-width:1024px) {

    .about-first {
        width: 100%;
        height: 68vh;
        margin: 0px 0px;
    }

    .bout-outer-box,
    .quot-box {
        width: 55%;
        height: 35vh;
    }

    .quot-box h3 {
        font-size: 25px;
    }

    .quot-box {
        width: 80%;
    }

    .quot-box p {
        font-size: 18px;
    }

}

@media (min-width:1280px) {

    .quot-box {
        width: 75%;
    }

    .bout-outer-box {
        width: 43%;
    }

    .quot-box h3 {
        font-size: 30px;
    }
}



/* working section -------------------------------------------------------------------------> */

.working {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.working-box {
    margin-bottom: 15%;
    padding-top: 3%;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.18);
}

.working-info {
    text-align: center;
    margin: 20px 10px 30px;
}

.working-info h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0px;
    font-family: 'Times New Roman', Times, serif;
}


p {
    font-size: 15px;
    margin: 10px 0px;
}

.working-info button {
    margin: 20px 0px;
    padding: 8px 15px 13px;
    background-color: black;
    border: none;
    color: white;
    font-size: 15px;

}


.working-info button .fa-arrow-right {
    color: #cda274;
    font-size: 18px;
    margin-left: 5px;
    margin-top: 3px;
}

.woking-img img {
    width: 100%;
    height: 35vh;
    border-radius: 24px;
    padding: 20px 20px 0px;
}


@media (min-width:768px) {

    .working-box {
        width: 95%;
        padding: 40px 30px;
    }

    .working-info {
        margin: 40px 0px;
    }

    .working-info h1 {
        font-size: 42px;
    }

    .working-info p {
        font-size: 29px;
        margin: 20px 0px;

    }

    .woking-img img {
        padding: 20px 20px 0px;
    }

    .working-info button {
        font-size: 24px;
        margin: 20px 0px;
        padding: 15px 20px 18px;
    }


    .working-info button .fa-arrow-right {
        font-size: 28px;
    }
}




@media (min-width:1024px) {

    .working,
    .working-box {

        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }

    .working-box {
        width: 50%;
        gap: 5%;
        box-shadow: none;
        width: 95%;
        margin-bottom: 10%;
        padding: 20px 30px;
    }

    .working-info {
        width: 50%;
        margin: 0px;
        text-align: start;

    }

    .working-info h1 {
        font-size: 26px;
    }

    .working-info p {
        font-size: 16px;

    }

    .woking-img img {
        padding: 0px;
        border-radius: 20px;
        height: 45vh;
    }

    .woking-img {
        width: 50%;

    }

    .working-info button {
        font-size: 16px;
        padding: 10px 15px 12px;
        display: flex;
        align-items: center;
        margin: 23px 0px;
        border-radius: 15px;
    }

    .working-info button .fa-arrow-right {
        font-size: 23px;
        margin-left: 10px;

    }

    .box-1 {
        order: 1;
    }

    .box-11 {
        margin-bottom: 10%;
    }

    .box-2 {
        order: 0;
    }
}


@media (min-width:1280px) {

    .working-box {
        width: 80%;
        gap: 5%;
    }


    .working-info h1 {
        font-size: 30px;
        margin: 20px 0px;
    }

    .working-info p {
        font-size: 18px;

    }

    .woking-img img {
        height: 45vh;
    }

    .working-info button {
        font-size: 18px;
        padding: 14px 20px 18px;

    }

}



/* pople-thinks -------------------------------------------------------------------->*/

.people-thiks {
     background-color: #f7e3dd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3% 0px;
    padding-left: 15px;
}

.people-info h1 {
    text-align: center;
    margin: 10px 0px;
    font-family: "Playfair Display", serif;
}

.people-info {
    width: 95%;
    margin: 20px 0px;
    padding: 20px 20px 30px;

}

.people-img {
    width: 100%;
    overflow: auto;
}

.people-img img {
    width: 300px;
    height: 230px;
    margin: 10px 5px;
    border-radius: 14px;
}


@media(min-width:768px) {

    .people-thiks {
        height: 60vh;
    }

    .people-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
    }

    .people-info h1 {
        font-size: 32px;
        margin: 20px 0px 30px;
        width: 60%;
    }

    .people-img img {
        width: 350px;
        height: 350px;
    }
}


@media (min-width:1024px) {

    .people-thiks {
        height: 90vh;
    }

    .people-info h1 {
        font-size: 32px;
        margin: 10px 0px;
        width: 40%;
    }

    .people-info {
        width: 90%;
        margin-left: 40px;

    }

    .people-img img {
        width: 205px;
        height: 300px;
    }

    .people-img {

        display: flex;
        justify-content: center;

    }
}


@media (min-width:1280px) {

    .people-thiks {
        height: 80vh;

    }

    .people-img img {
        width: 280px;
        height: 300px;
    }

    .people-info h1 {
        font-size: 36px;
        margin: 20px 0px;
        width: 30%;
    }
}



/* Coontact -people info-----------------------------------------------------------------------------> */

.contact-box {
    margin: 40px 0px 50px;
    padding: 10px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-box h1 {
    margin: 20px 0px;
    font-size: 20px;
    font-family: "Playfair Display", serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input,
textarea {
    margin: 10px 0px;
    padding: 10px 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-family: "Playfair Display", serif;
    width: 100%;
}

textarea {
    height: 15vh;
    margin: 10px 0px 30px;
}

.contact-box button {
    margin: 20px 0px;
    padding: 10px 15px;
    align-self: center;
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 14px;
    color: white;
}

button .fa-arrow-right {
    font-size: 18px;
    margin-left: 6px;
    color: #cda274;
}



@media (min-width: 768px) {

    .contac {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-box {
        align-items: center;

        width: 90%;
    }

    .contact-box h1 {
        font-size: 32px;
        width: 80%;
    }

    input,
    textarea {
        font-size: 30px;
        margin: 15px 0px;
        padding: 15px 0px;
    }

    .contact-box button {
        font-size: 25px;
        padding: 20px 25px;
    }

    button .fa-arrow-right {
        font-size: 32px;
        margin-left: 10px;
    }


    textarea {
        height: 20vh;
        margin: 10px 0px 30px;
    }
}


@media (min-width:1024px) {

    .contact-box {
        width: 65%;
    }

    .contact-box h1 {
        margin: 26px 0px;
    }

    .input-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5%;
    }

    input,
    textarea {
        font-size: 18px;
    }

    .contact-box button {
        font-size: 15px;
        padding: 10px 15px;
        font-size: 17px;
        padding: 13px 20px 15px;
    }

    button .fa-arrow-right {
        font-size: 20px;
    }
}


@media (min-width:1280px) {

    .contact-box {
        width: 50%;
        margin-bottom: 5%;
    }
}



/* footer section -----------------------------------------------------------------> */

footer {
    background-color: #292f36;
    color: white;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.foter-logo i {
    font-size: 20px;
    margin: 20px 5px 10px;
}


.footer-services,
.footer-contact {
    margin: 15px 0px;
}

.footer-services h4,
.footer-contact h4 {

    padding-bottom: 5px;
    font-size: 16px;
}

.footer-services li,
.footer-contact li {

    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


@media (min-width:768px) {

    footer {
        height: 50vh;
        padding: 10px;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        width: 90%;
        gap: 3%;
    }

    .footer-left {
        width: 35%;
        margin-top: 0px;
        margin-right: 20px;
    }

    .footer-left p {
        font-size: 20px;

    }

    .footer-services h4,
    .footer-contact h4 {

        font-size: 26px;
    }

    .footer-services li,
    .footer-contact li {
        margin: 10px 0px;
        font-size: 20px;
        font-weight: 500;
    }

}



@media (min-width:1024px) {

    footer {
        height: 70vh;
        padding: 10px 30px;
    }

    .footer-left {
        width: 40%;
        margin-top: 3%;
    }

    .footer-left p {
        margin: 10px 0px;
    }

    .footer-services h4,
    .footer-contact h4 {

        font-size: 22px;
    }

    .footer-services li,
    .footer-contact li {

        font-size: 18px;

    }
}


@media (min-width:1280px) {

    footer {
        height: 60vh;
    }

    .footer-info {
        width: 75%;
    }

    .footer-left {
        width: 35%;
    }

}