* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

li {
    cursor: pointer;
}

.contenar {
    padding: 0px 5%;

}

/* navigation css ------------------------------------------------------------------------------>*/
.navbar {
    position: relative;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 15px 15px;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.nav-logo {
    display: flex;
    align-items: center;

}

.nav-logo i {
    font-size: 26px;
    margin-top: 4px;
    margin-right: 8px;
    color: #cda274;
}

.nav-logo h1 {
    font-size: 23px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
}

.fa-bars {
    font-size: 28px;
    margin-top: 4px;
    color: gray;
}

a {
    text-decoration: none;
}

.nav-btn,
ul {
    display: none;
}

.nav-list {

    position: absolute;
    top: 99%;
    left: 0;
    width: 100%;
    height: 45vh;
    padding-top: 5%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.9s ease-in-out, opacity 1s ease-in-out;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#menu-toggle {
    display: none;
}


.menu-icon {
    font-size: 26px;
    cursor: pointer;
    z-index: 1002;
}

.menu-icon .open-icon,
.menu-icon .close-icon {
    display: none;
}


#menu-toggle:not(:checked)+.menu-icon .open-icon {
    display: inline;
}

#menu-toggle:checked+.menu-icon .close-icon {
    display: inline;
}

#menu-toggle:checked~.nav-list {

    max-height: 500px;
    opacity: 1;
    pointer-events: auto;

}


.nav-list li {
    margin: 10px 0;
}

.nav-list li a {
    text-decoration: none;
    font-size: 17px;
    color: black;

    transition: color 0.3s;
    font-family: "Playfair Display", serif;
}

.nav-list li a:hover {
    color: #dba871;
}

.btn2 {
    padding: 5px 10px 8px;
    background-color: #cda274;
    border-radius: 6px;
    border: none;
    color: white;
    margin: 10px 30px;
}


.batton-1 a,
.btn2 a {
    font-size: 14px;
    color: white;
}



@media(min-width:768px) {

    .nav {
        padding: 25px 6%;
    }

    .nav-list {
        height: 40vh;
        padding-top: 3%;
    }

    .menu-icon {
        font-size: 40px;
    }

    .nav-logo i,
    .fa-bars {
        font-size: 40px;
        margin-right: 10px;
    }

    .nav-logo h1 {
        font-size: 40px;
    }

    li {
        margin: 16px 0px;
    }

    .nav-list li a {
        color: black;
        font-family: "Playfair Display", serif;
        font-weight: 500;
        font-size: 23px;
    }

    .btn2 {
        padding: 5px 10px 12px;
        font-size: 20px;
        margin: 20px 0px;
    }

    .batton-1 a,
    .btn2 a {
        font-size: 20px;

    }
}


@media (min-width:1024px) {

    .nav {
        padding: 18px 4%;
    }

    .nav-list {
        padding-top: 0;
        box-shadow: none;
    }

    .nav-btn {
        display: block;
    }

    .nav-logo i {
        font-size: 26px;
    }

    .nav-logo h1 {
        font-size: 26px;
    }

    .nav-list li a {
        font-size: 18px;
    }

    #navlist {
        display: flex;
        gap: 5%;
        width: 60%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        opacity: 1;
        max-height: none;
        pointer-events: auto;
        position: static;
        height: auto;

    }

    .btn2 {
        display: none;
    }

    .icon {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .nav-btn button {
        padding: 5px 10px 8px;
        font-size: 14px;
        border: none;
        background-color: rgb(229, 200, 146);
        color: white;
        border-radius: 4px;
        margin-left: 20px;
    }

    button:hover {
        background-color: rgb(175, 141, 79);
    }

    .batton-1 a,
    .btn2 a {
        font-size: 14px;

    }
}


@media (min-width:1280px) {

    #navlist {
        gap: 4%;
    }

    .nav {
        padding: 20px 4%;
    }

    .nav-logo h1 {
        font-size: 28px;
    }

    .icon {
        display: block;
    }

    .nav-btn {
        display: flex;
        align-items: center;
    }

    .nav-list li a {
        font-size: 20px;
        color: black;
    }

    li {
        font-size: 19px;
    }

    .nav-btn i {
        font-size: 20px;
        margin: 0 12px;
    }

    .nav-btn button {
        margin: 0 0 0 20px;
    }

}

/* main section-----------------------------------------------------------------------  */

.main {
    height: 65vh;
    background-image: url("../images/new1--9\ -\ Copy\ \(2\).jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div {
    height: 30vh;
    width: 80%;
    padding-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .project {
    background-color: rgba(0, 0, 0, 0.538);
    color: white;
    width: 80%;
    height: 18vh;
    border-radius: 15px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .project h1 {
    font-family: "Playfair Display", serif;
    font-size: 28px;

}

.main p {
    font-size: 18px;
    margin: 0px 0px 20px;
}

@media (min-width:768px) {

    .main {
        height: 70vh;
    }

    .main-div {
        padding-top: 9%;
    }

    .main .project {
        width: 70%;
        height: 22vh;

    }

    .main .project h1 {
        font-size: 45px;
        margin-bottom: 5px;
    }

    .main p {
        font-size: 33px;
    }
}

@media (min-width:1024px) {

    .main-div {
        padding-top: 7%;
    }

    .main .project h1 {
        font-size: 36px;

    }

    .main p {
        font-size: 22px;
        margin: 5px 0px;
    }

    .main .project {
        width: 45%;
        height: 25vh;
    }
}

@media (min-width:1280px) {

    .main-div {
        padding-top: 4%;
    }

    .main .project {
        width: 35%;
        height: 22vh;
    }

    .main .project h1 {
        font-size: 50px;

    }

    .main p {
        font-size: 23px;
    }

}


 /* contackt section---------------------------------------------------------------------------- */

.work-project {
    margin: 8% 0px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.work-project h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 10px 0px;
}

.work-project p {
    font-size: 16px;
}



@media(min-width:768px) {
    .work-project p {
        font-size: 24px;
        width: 95%;
    }

    .work-project h1 {
        font-size: 36px;
    }
}


@media (min-width:1024px) {
    .work-project p {
        width: 80%;
        font-size: 18px;
    }
}

@media (min-width:1280px) {
    .work-project p {
        font-size: 20px;
        width: 60%;
    }
}


/* option-------------------------------------------------------------------------------------------  */

.option {
    margin: 20px 0px 15%;
}

a {
    color: black;
}

.option ul {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    /* background-color: #292f367e; */
    border: 2px solid #cda274;


}

.option li {
    list-style: none;
    text-align: center;
    padding: 10px 0px;
    font-weight: 600;
    /* color: whitesmoke; */
    color: black;
    font-size: 17px;
    cursor: pointer;
}

li:hover {
    background-color: #e5bd92;

}


@media (min-width:768px) {

    .option {
        margin: 6% 0px 15%;
    }

    .option,
    .option ul {
        display: flex;
        justify-content: center;
        gap: 10px;

    }

    .option li {
        margin: 0px;
        padding: 8px 30px;
        font-size: 20px;
    }
}


@media (min-width:1024px) {

    .option {
        margin: 6% 0px 10%;
    }

    .option li {
        padding: 10px 40px;
    }

    .option,
    .option ul {
        display: flex;
        justify-content: center;
        gap: 15px;

    }

}


/* project-section---------------------------------------------------------------------------- */


.project-section {
    margin-bottom: 20%;
}

.our-projects {
    column-count: 2;
    /* margin-bottom: 10%; */
}

.project-info {
    margin: 20px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-info p {
    font-size: 15px;

}

.project-info h2 {
    font-family: "Playfair Display", serif;
    width: 70%;
    margin: 10px 0px;
    font-size: 24px;
}


.our-projects .first img {
    width: 100%;
    height: 250px;
    margin: 4px;
}

.our-projects .second img {
    width: 100%;
    height: 150px;
    margin: 4px;
}


.sec-box {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.third-box {
    display: flex;
    flex-direction: column;
    align-items: start;
}


.sec-proje {
    position: relative;
    width: 70%;
}

.sec-proje .first img {
    width: 100%;
    height: 250px;

}

.sec-proje .second img {
    width: 80%;
    height: 200px;
    position: absolute;
    bottom: -60px;
    left: -98px;
}

.third-proje .second img {
    position: absolute;
    bottom: -60px;
    left: 150px;
}

.midal-box {
    margin: 10% 0px 30%;
}

.bottam {

    margin: 40% 0px 10%;
}



@media (min-width:768px) {

    .our-projects {
        width: 50%;
        order: 0;
        margin-bottom: 0px;
        column-gap: 3%;
    }

    .project-info {
        width: 50%;
        order: 1;
    }

    .project-contenar {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 7%;
    }

    .project-info p {
        font-size: 22px;
    }

    .para {
        width: 80%;
    }

    .our-projects .first img {
        height: 200px;
    }

    .our-projects .second img {
        height: 150px;
    }

    .project-box-2 {
        display: flex;
        justify-content: flex-end;

    }

    .sec-box {
        flex-direction: row;
        width: 100%;
    }

    .sec-proje {
        width: 50%;
        order: 1;
    }

    .sec-info {
        width: 60%;
        align-self: flex-start;
        order: 0;
    }

    .third-info {
        margin-right: 0px;
        align-self: flex-start;
        order: 1;
    }

    .sec-proje .first img {
        width: 100%;
        height: 280px;

    }

    .sec-proje .second img {
        width: 83%;
        height: 230px;
        position: absolute;
        bottom: -60px;
        left: -80px;
    }

    .third-proje .first img {
        width: 100%;
        height: 270px;

    }

    .third-proje .second img {
        position: absolute;
        bottom: -90px;
        left: 120px;
    }

    .third-proje .row img {
        position: absolute;
        bottom: -120px;
        left: 120px;
    }

    .third-proje {
        order: 0;
    }

    .project-bottam-info {
        order: 0;
    }

    .midal-box {
        margin: 10% 0px 25%;
    }

    .bottam {

        margin: 5% 0px;
    }

}


@media (min-width:1024px) {
    .project-info h2 {
        font-size: 34px;
    }


    .our-projects .first img {
        height: 250px;
    }

    .sec-proje .first img {
        width: 100%;
        height: 330px;
    }

    .sec-proje .second img {
        width: 80%;
        height: 300px;
        position: absolute;
        bottom: -90px;
        left: -80px;
    }

    .third-proje .second img {
        width: 75%;
        height: 250px;
        position: absolute;
        bottom: -100px;
        left: 130px;
    }

    .third-proje .first img {
        width: 90%;
        height: 330px;

    }

    .project-info p {
        font-size: 18px;
        width: 80%;
    }

    .project-info h2 {
        font-size: 24;
    }

    .sec-info {

        align-self: center;

    }

    .third-info {
        margin-right: 0px;
        align-self: center;
    }

    .midal-box {
        margin: 10% 0px 20%;

    }

    .project-section {
        margin-bottom: 10%;
    }

}


@media (min-width:1280px) {

    .project-info h2 {
        font-size: 40px;
    }



    .para {
        width: 100%;
    }

    .project-contenar {
        width: 75%;
        padding: 0px;
    }

    .project-info p {
        font-size: 19px;
        width: 100%;
    }

    .our-projects .first img {
        height: 300px;
    }

    .our-projects .second img {
        height: 150px;
    }

    .sec-box {
        width: 80%;
    }

    .sec-info {
        width: 60%;
    }

    .sec-proje .first img {
        width: 80%;
        height: 380px;
        margin-left: 20%;
    }

    .sec-proje .second img {
        width: 65%;
        height: 350px;
        position: absolute;
        bottom: -150px;
        left: -10px;
    }

    .third-proje .second img {
        width: 65%;
        height: 350px;
        position: absolute;
        bottom: -100px;
        left: 230px;

    }

    .third-proje .first img {
        margin-left: 0px;
    }

    .project-contenar-bottam {
        width: 100%;
    }

    .midal-box {
        margin: 10% 0px 20%;

    }

    .bottam {
        margin-top: 2%;
        margin-bottom: 5%;
    }

}


/* footer section ----------------------------------------------------------------------------  */


footer {
    background-color: #292f36;
    color: white;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.foter-logo i {
    font-size: 20px;
    margin: 20px 5px 10px;
}


.footer-services,
.footer-contact {
    margin: 15px 0px;
}

.footer-services h4,
.footer-contact h4 {

    padding-bottom: 5px;
    font-size: 16px;
}

.footer-services li,
.footer-contact li {

    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


@media (min-width:768px) {

    footer {
        height: 50vh;
        padding: 10px;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        width: 90%;
        gap: 3%;
    }

    .footer-left {
        width: 35%;
        margin-top: 0px;
        margin-right: 20px;
    }

    .footer-left p {
        font-size: 20px;

    }

    .footer-services h4,
    .footer-contact h4 {

        font-size: 26px;
    }

    .footer-services li,
    .footer-contact li {
        margin: 10px 0px;
        font-size: 20px;
        font-weight: 500;
    }

}



@media (min-width:1024px) {

    footer {
        height: 70vh;
        padding: 10px 30px;
    }

    .footer-left {
        width: 40%;
        margin-top: 3%;
    }

    .footer-left p {
        margin: 10px 0px;
    }

    .footer-services h4,
    .footer-contact h4 {

        font-size: 22px;
    }

    .footer-services li,
    .footer-contact li {

        font-size: 18px;

    }
}


@media (min-width:1280px) {

    footer {
        height: 60vh;
    }

    .footer-info {
        width: 75%;
    }

    .footer-left {
        width: 35%;
    }

}